* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', monospace;
}
:root {
  --index: calc(1vh + 1vw);
  --shadow: rgba(0 0 0 / 0.4);
  --gradient: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.main-wrapper {
  background: var(--gradient);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-block {
  border-radius: 22px;
  border: none;
  height: calc(var(--index) * 8);
  background-color: var(--shadow);
  display: flex;
}

.input-area {
  pointer-events: none;
  display: flex;
  text-align: center;
  outline:none;
  border: none;
  color: aliceblue;
  font-size: calc(var(--index) * 2.5);
  width: calc(var(--index) * 22);
  background-color: var(--gray);
}

#input-area-label {
  position: absolute;
  margin-top: calc(var(--index) * 0.7);
  margin-left: calc(var(--index) * 0.7);
  color: aliceblue;
  font-size: calc(var(--index) * 1);
}

.buttons-block {
  margin: 0 auto;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(var(--index) * 0.2);
  background-color: var(--shadow);
  height: calc(var(--index) * 18);
  width: calc(var(--index) * 20);
}

.buttons-block-1 {
  display: grid;
  grid-template-columns: calc(var(--index) * 4.5) calc(var(--index) * 4.5) calc(var(--index) * 4.5) calc(var(--index) * 4.5);
  grid-template-rows: calc(var(--index) * 4.5) calc(var(--index) * 4.5) calc(var(--index) * 4.5) calc(var(--index) * 4.5);
  justify-content: center;
}

.buttons-block-2 {
  display: grid;
  grid-template-columns: calc(var(--index) * 3.5);
  grid-template-rows: calc(var(--index) * 3.5);
}

.btn {
  background-color: rgba(0 0 0 / 0);
  border: none;
  color: aliceblue;
  font-size: calc(var(--index) * 1.5);
  height: calc(var(--index) * 4.5);
  width: calc(var(--index) * 4.5);
  transition: background-color 0.25s ease;
}
.btn:hover {
  background-color: rgba(256 256 256 / 0.1);
}
.btn:active {
  background-color: rgba(0 0 0 / 0);
}

.operation {
  width: calc(var(--index) * 3.5);
}

.count-btn {
  height: calc(var(--index) * 20);
  width: calc(var(--index) * 6.5);
  margin-left:  calc(var(--index) * -1);
  background-color: rgba(256 256 256 / 0.1);
}
.count-btn:hover {
  background-color: rgba(35, 185, 196, 0.25);
}